.home{
    height: 100vh;
    overflow: hidden;
}




.home__data{
    display: flex;
    flex-direction: row;

}
.home__left{
    flex: 0.5;
    padding: 10px;
}

.home__main{
    overflow: scroll;
    scrollbar-width: none;
    height: 100vh;
    flex:5;
    padding:10px;
}
.home__main::-webkit-scrollbar{
    display: none;
}
.home__right{
    height: 100vh;
    background-color: lightgray;
    flex:2;
    padding: 10px;
}
.flexsearch{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


.flexsearch__form{
    display: flex;
    flex-direction: row;
}

.notes__container{
    display: grid;
    margin: 50px;
    grid-template-columns: repeat(auto-fit,minmax(19rem,1fr));
}

.notes__content{
    width: 200px;
    height: 200px;
    box-shadow: 5px 10px 18px #888888;
}
.add:hover{
    
    border-style: solid;
    border-color: red;
}